# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.coverage
.pytest_cache/
htmlcov/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
.windsurfrules
*.swp
.DS_Store

# API response examples
examples/

# Node.js
node_modules/
